/* _content/ApuriV3ClassLibrary/Component1.razor.rz.scp.css */
.my-component[b-fheslc495n] {
    border: 2px dotted green;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
